doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(itemprop='name', content='Portfolio - Ricardo Gouveia - Front end developer & UI/UX designer')
    meta(name='description', itemprop='description', content='Site de um desenvolvedor e designer que abre o Sketch só pra se distrair')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='format-detection', content='telephone=no')
    meta(name='theme-color', content='#4ecdc4')

    //- Title
    //- ===================================
    title Portfolio - Ricardo Gouveia - Front end developer &amp; UI/UX designer


    //- Favicon and SVG logo
    //- ===================================
    link(rel='shortcut icon', href='assets/img/favicon.ico')
    link(rel='logo', type='image/svg', href='assets/img/logo.svg')

    //- Stylesheet and fonts are placed after body for performance reasons
    //- Scripts are places at the end of body for performance reasons

  body

    .logo
      a.logo__link(href="http://rcrd.me")
        img.logo__arrow(src="assets/img/left-arrow.svg", alt="")
        img.logo__img(src="assets/img/logo.svg", alt="")


    .container

      .item.devinsanta
        .item__filter
        a.item__link(href="http://devinsanta.github.io/", target="_blank", rel="noopener")

          div.item__text
            span.item__number 01
            h2.item__title Devinsanta
              br
              | dev meetup

          img.item__img(src="assets/img/devinsanta.png", alt="")

          span.item__role UI &amp; Front-end


      .item.espaco-ki
        .item__filter
        a.item__link(href="http://espacokisantarem.com.br/", target="_blank", rel="noopener")

          div.item__text
            span.item__number 02
            h2.item__title Espaço KI
              br
              | Santarém

          img.item__img(src="assets/img/espacoKI.png", alt="")

          span.item__role Front-end @ Reator Digital


      .item.few
        .item__filter
        a.item__link(href="http://frontendweek.com.br/", target="_blank", rel="noopener")

          div.item__text
            span.item__number 03
            h2.item__title Front-end
              br
              | Week SP
              br
              | 2018

          img.item__img(src="assets/img/few.png", alt="")

          span.item__role UI &amp; Front-end


      .item.lu-vassilak
        .item__filter
        a.item__link(href="http://luvassilak.com.br/", target="_blank", rel="noopener")

          div.item__text
            span.item__number 04
            h2.item__title Luciana
              br
              | Vassilak

          img.item__img(src="assets/img/lu-vassilak.png", alt="")

          span.item__role Front-end @ Reator Digital


      .item.seven-dev
        .item__filter
        a.item__link(href="https://7dev-codestudio.github.io/", target="_blank", rel="noopener")

          div.item__text
            span.item__number 05
            h2.item__title 7dev Tapajós
              br
              | Code Studio


          img.item__img(src="assets/img/7dev.png", alt="")

          span.item__role UI &amp; Front-end

    //- JS scripts
    //- ===================================
    script(async, src='js/index.min.js')

  //- Stylesheet and fonts
  //- ===================================
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
  link(rel='stylesheet', href='assets/css/style.min.css')

  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Mono")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poppins:600")
